.svg_wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px 0 90px;
}
.text{
  text-align: center;
  font-size: 32px;
}
.link{
  text-align: center;
  margin-top: 20px;
}