.navbar{
    background: linear-gradient(to bottom, var(--navbar-bg-start),var(--navbar-bg-end));
    color: var(--navbar-text);
    fill: var(--navbar-text);
    display: flex;
    align-items: center;
    justify-content:flex-start;
    padding: 40px 16px 12px;
}
.title_wrapper{
    font-size: 24px;
    margin-left: 12px;
    line-height: 31px;
}
.icon{
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    > *{
        min-width: 100%;
        max-height: 100%;
    }
}