  .navbar_wrapper{
    .svg{
      width: 30px;
      height: 30px;
    }
  }
    
  .svg_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 0 90px;
  }
  .button{
    width: 100%;
    &_wrapper{
      padding: 16px 16px;
    }
  }
  .float_button{
    background: var(--float-button-bg);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 16px;
    right: 16px;
  }