.button{
    width: 100%;
}
.button_wrapper{
    padding: 16px 16px;
}
.pig{
    width: 128px;
    height: 128px;
    &_wrapper{
        padding: 120px 0;
    }
}
.menu{
    width: 35px;
    height: 35px;
    position: relative;
    top: 2px;
}
